@page "/friendoverview"
@inherits FriendOverviewBase
@attribute [Authorize]

<h1 class="page-title">All friends</h1>

@if (Friends == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var friend in Friends)
            {
                <tr>
                    <td>@friend.Name</td>
                    <td>
                        <a href="@($"frienddetail/{friend.Id}")" class="btn btn-primary table-btn">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <a href="@($"friendedit/{friend.Id}")" class="btn btn-primary table-btn">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<button @onclick="@QuickAddFriend" class="btn btn-dark table-btn quick-add-btn">&nbsp;&nbsp;+&nbsp;&nbsp;</button>

<AddFriendDialog @ref="AddFriendDialog" CloseEventCallback="@AddFriendDialog_OnDialogClose"></AddFriendDialog>