@page "/gameoverview"
@inherits GameOverviewBase
@attribute [Authorize]

<h1 class="page-title">All games</h1>

@if (Games == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Lent to a friend</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in Games)
            {
            <tr>
                <td>@game.Name</td>
                <td>@game.Borrowed</td>
                <td>
                    <a href="@($"gamedetail/{game.Id}")" class="btn btn-primary table-btn">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    <a href="@($"gameedit/{game.Id}")" class="btn btn-primary table-btn">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

<button @onclick="@QuickAddGame" class="btn btn-dark table-btn quick-add-btn">&nbsp;&nbsp;+&nbsp;&nbsp;</button>

<AddGameDialog @ref="AddGameDialog" CloseEventCallback="@AddGameDialog_OnDialogClose"></AddGameDialog>